default:
    suites:
        default:
            paths: [ "%paths.base%/features" ]
            contexts:
                - RestContext:
                      client: '@app.guzzle_http.api_client'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
